$boxBorder:#aaa; // 盒子边框颜色
$boxBgWhite:#fff; // 盒子工具背景色白
$boxBg:#f5f5f5; // 盒子背景色
$text:#000; // 文字颜色
$textHover:#fff; // 文字鼠标经过色
$textHoverBg:#c0fefc; // 文字经过背景色
$textBg:#77acf1; // 文字选中背景色
$textBg2:#04009a; // 文字选中背景色深色
$mosha:rgba(235, 235, 235, 0.42); // 磨砂背景色
$boxS:#555; // 盒子阴影

.cloud-main {
    width: 100%;
    height: 100%;

    // 文字不能选中
    * {
        user-select: none;
    }

    // 双端占满屏幕
    >div {
        width: 100%;
        height: 100%;
    }

    // 网页端页面 --start
    .indexWin {
        background: url(../images/cloudBg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;

        //底部导航栏
        .bottom-nav {
            position: absolute;
            bottom: 15px;
            left: 15px;
            right: 15px;
            height: 55px;

            // 左侧系统工具
            >div:first-child {
                position: absolute;
                left: 0;
            }

            // 右侧信息
            >div:last-child {
                position: absolute;
                right: 0;
            }

            // 纵向分割线
            .el-divider--vertical {
                width: 3px;
                height: 40px;
                background: #555;
            }

            // 横向分割线
            .el-divider--horizontal {
                width: auto;
                height: 2px;
                background: #555;
                margin: 2px 0;
            }

            // 当前时间
            .timer {
                width: 65px;
                font-weight: 700;
            }
        }

        // 桌面文件夹区域
        .folder-box {
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 75px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-direction: column;

            .folder-box-dan {
                width: 90px;
                height: 90px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                >svg {
                    font-size: 48px;
                }

                >div {
                    color: $text;
                    max-width: 80px;
                    border-radius: 6px;
                }
            }

            // 选中的样式
            .select-folder {
                >div {
                    background-color: $textBg;
                    color: $textHover;
                }
            }
        }

        // 拖拽文件夹样式
        .folder {
            position: absolute;
            background: $boxBgWhite;
            overflow: hidden;
            box-shadow: 0 0 10px $boxS;
            display: flex;
            flex-direction: column;

            // 顶层信息栏
            .top {
                width: 100%;
                height: 40px;
                box-shadow: 0 5px 5px $boxBg;
                z-index: 9;
                // 后退工具栏
                >div:first-child {
                    flex: 0 0 200px;
                }
                // 文件窗口名
                >div:nth-child(2) {
                    cursor: move;
                    flex: 1;
                }
            }

            // 文件窗口主体部分
            .main {
                flex: 1;
                height: 0;

                // 分类栏
                >div:first-child {
                    flex: 0 0 200px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    >div{
                        background: $boxBg;
                        border-radius: 6px;
                        transition-duration: .5s;
                        &:hover{
                            color: $textHover;
                            background: $textBg;
                        }
                    }
                    .select{
                        color: $textHover;
                        background: $textBg;
                    }
                }

                // 主要内容栏
                >div:last-child {
                    flex: 1;
                    width: 0;
                    background: $boxBg;

                    // 选中样式 由element生成
                    .current-row {
                        td {
                            color: $boxBg;
                            background: $textBg;
                            border-color: $textBg;
                        }
                    }
                }
            }

            // 窗口大小改变条 --start
            .moveR {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 5px;
                cursor: w-resize;
            }

            .moveB {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 5px;
                cursor: n-resize;
            }

            .moveA {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 12px;
                height: 12px;
                cursor: nw-resize;
                font-size: 14px;
                color: #555;

                >svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            // 去掉表格背景
            .el-table {
                background: none;
            }

            // 窗口大小改变条 --end
        }

        // 文件夹进入动画
        .input {
            animation: animateInput .5s ease-out both alternate;
            /*动画: 名称 时间 线性 循环 播放完回退播放*/
        }

        @keyframes animateInput {
            0% {
                transform: scale(0.5, 0.5);
                opacity: 0;
            }

            100% {
                transform: scale(1, 1);
                opacity: 1;
            }
        }

        // 文件夹离开动画
        .out {
            animation: animateOut .7s ease-out both alternate;
            /*动画: 名称 时间 线性 循环 播放完回退播放*/
        }

        @keyframes animateOut {
            0% {
                transform: scale(1, 1) translate(0, 0);
            }

            50% {
                opacity: 1;
                transform: scale(0.5, 0.5) translate(0, 100px);
            }

            100% {
                transform: scale(0.5, 0.5) translate(0, 2000px);
                opacity: 0;
            }
        }

        // 网页端云盘通用样式 --start
        // 容器的基本样式
        .box {
            border: 1px solid $boxBorder;
            border-radius: 12px;
        }

        // 磨砂质感
        .ms {
            background: $mosha;
            backdrop-filter: blur(30px);
            box-shadow: rgb(16 16 16 / 30%) 0px 4px 10px;
        }

        // 弹跳样式
        .jump:hover>div {
            animation: animateJump 1s ease-out alternate;
        }

        @keyframes animateJump {
            0% {
                transform: translate(0, 0);
            }

            25% {
                transform: translate(0, -50%);
            }

            50% {
                transform: translate(0, 0);
            }

            75% {
                transform: translate(0, -20%);
            }

            100% {
                transform: translate(0, 0);
            }
        }

        // 网页端云盘通用样式 --end
    }

    // 网页端页面 --end
}